.App {
  text-align: center;
}

.table {
  text-align: center;
  font-size: 20px;
}

.err-country-text {
    display: flex;
    justify-content: left;
    align-items: center;
}

.loading {
    text-align: center;
    font-size: 48px;
    margin-top: 30%;
}
