.App {
  text-align: center;
}

.table {
  text-align: center;
  font-size: 20px;
}

.err-country-text {
    display: flex;
    justify-content: left;
    align-items: center;
}

.loading {
    text-align: center;
    font-size: 48px;
    margin-top: 30%;
}

.hourly-forecast-parent {
    text-align: center;
    overflow-x: scroll;
    display: flex;
}

.hourly-forecast-children {
    border: 1px black solid;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    min-height: 200px;
    min-width: 15.6%;
}

.days-parent {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.days-weather {
    padding: 5px;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
}

.weather-detailed-info {
    cursor: pointer;
    font-size: 18px;
    background-color: aliceblue;
    margin: 5px;
    border: 1px lightslategray solid;
    border-radius: 5px;
}

ol {
    padding: 0 !important;
}

.details {
    text-align: center;
    font-size: 24px;
    list-style-type: none;
}
